<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(MauiProgram).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Router>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="app-error">
            <h1>Unhandled exception</h1>
            <p>The application encountered an unrecoverable error.</p>
            <pre>@ex.ToString()</pre>
        </div>
    </ErrorContent>
</ErrorBoundary>
